.arcade-btn {
  background-color: #9C9C9C;
  color: black;
  font-family: 'Press Start 2P', cursive;
  border: none;
  text-align: center;
  border-radius: 2px;
  &:hover {
    text-decoration: none;
    background-color: #8C8C8C;
    color: black;
  }
}

.sm-btn {
  padding: 7px 32px;
  font-size: 20px;
}

.stretch-btn {
  width: 100%;
  padding: 7px 32px;
  font-size: 20px;
}

.lg-btn {
  padding: 24px 24px;
  font-size: 24px;
}

.left-btn {
  margin-right: 3rem;
}
.navbar-btn {
  margin-left: 1rem;
}

.index-button-bar {
  margin: auto;
  padding: 0 4vw;
}

.delete-button {
  color: firebrick;
  &:hover {
    text-decoration: none;
    color: darkred;
  }
}

@media screen and (max-width: 1024px) {
  .sm-btn {
    padding: 7px 24px;
    font-size: 16px;
  }

  .lg-btn {
    padding: 20px 20px;
    font-size: 20px;
  }

  .stretch-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .sm-btn {
    width: 100%;
    padding: 12px 12px;
  }
  .navbar-btn {
    margin: 0;
  }
  .lg-btn {
    padding: 18px 18px;
    font-size: 16px;
  }

  .index-button-bar {
    flex-direction: column;
    margin-bottom: 8vh;
  }

  .left-btn {
    margin-right: 0;
    margin-bottom: 4vh;
  }
}
