
.cartridge {
  width: 228px;
  height: 256px;
  position: relative;
  background-image: url(cartridge.png);
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.label {
  position: absolute;
  left: 90px;
  width: 110px;
  height: 176px;
  background-color: #252A2E;
  border-radius: 0px 0px 7px 7px;
  padding: 2px 0px;
}

.label-name {
  font-family: 'lazer84';
  color: #4D8AB3;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 4px;
  text-align: center;
}

.label-image {
  height: 100px;
  width: 110px;
  object-fit: cover;
  margin-bottom: 4px;
}

.rating-stars {
  text-align: center;
}

.star {
  width: 16px;
}



