
#ingredient-form {
  margin-top: 4vh;
  display: none;
}

.form-arcade-input {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-align: left;
}

.form-arcade-file {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  background-color: white;
  padding: 4px;
}

.form-arcade-label {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
}

.login {
  a {
    display: block;
  }
}

.remember-me {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .form-arcade-input {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {

}
