#navbar-text-svg {
  width: 15vw;
  z-index: 2;
  filter: blur(0.6px);
  padding-right: 2vw;
}

.arcade-search {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.18);
  text-align: right;
  padding-right: 24px;
}

.navbar-container {
  padding: 0 4vw;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .arcade-search {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12vh;
  }

  #navbar-text-svg {
  width: 90vw;
  z-index: 2;
  filter: blur(0.6px);
  }

  .arcade-search {
    margin-bottom: 4vh;
  }
}
